<input name="firstName" type="text" data-value="person.firstName" /><br>
<input name="lastName" type="text" data-value="person.lastName" /><br>
<input name="middleName" type="text" data-value="person.middleName" /><br>
<input type="radio" name="education" data-checked="person.education" value="high school" /><br>
<input type="radio" name="education" data-checked="person.education" value="college" /><br>
<input type="radio" name="education" data-checked="person.education" value="post grad" /><br>


